@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

/* 내가 준비한 폰트파일을 css에 등록하는 방법 */
@font-face{
    font-family: 'nanum-r';
    src : url(../res/font/NanumSquareR.woff);
}

@font-face{
    font-family: 'nanum-b';
    src : url(../res/font/NanumSquareB.woff);
}

body{
    margin: 0px;
    /* 처음 폰트가 설치안되있으면 두번째 없으면 세번째 폰트 적용 */
    font-family: 'Nanum Myeongjo' 'nanum', 'dotum', 'arial';
    
}

p, h4, h3, h2, h1, span{
    /* 살짝 회전하면 폰트부드러워짐. 윈도우에서 효과 좋음 */
    transform: rotate(0.03deg);
}

div, input, textarea{
    /* 박스의폭이 border까지 포함임  */
    box-sizing: border-box;
}
table{
    border-collapse: collapse;
    border-style: hidden;
    border-radius: 10px;
    background-color: beige;
    box-shadow: 0 0 0 1px #000;
}
td, th{
    vertical-align: middle;
    border-radius: 10px;
    padding:10px;
}

tr{
    border : 1px solid cornflowerblue;
}


/* input[type=text], input[type=email]{
    padding: 10px;
    font-size: 20px;
    border: 1px solid burlywood;
    border-radius: 5px;
} */


.profileImg{
    width:100px; 
    display: block; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

.profileName{
    font-size:16px;
    text-align: center;
}

/* 스타일이 겹칠경우 우선순위
class 10점
tag 1점
id 100점 
html에서 style 속성 1000점*/


.box{
    width: 30vw;
    background-color: cadetblue;
    height: 30vh;
    margin: 30px;
    padding:10px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    color:white;
    box-shadow: 10px 10px black;
}

.container{
    width:800px;
    margin-left: auto;
    margin-right: auto;
}

.content2{
    width:70%;
    height:300px;
    float:left;
    text-align: left;
}

.preview{
    width: 30%;
    height: 300px;
    float:left;
}

.info{
    display: inline-block;
}
.info h6{
    margin-top: 0px;
}

.semi-content{
    margin-top:30px;
}
.semi-content p{
    color:gray;
    text-align: left;
}
.header{
    /* 부모 태그의 width를 100%로 씀 */
    width:100%; 
    height:60px;
    background-color: antiquewhite;
}

.left-menu{
    width:30%;
    height:400px;
    background-color: cadetblue;
    float:left; /*요소를 띄워서(공중에 떠있음) 왼쪽 정렬*/
    /* display: inline-block; 내 크기만큼만 차지. 박스사이 공백제거 해야함. 주변에 글이 있으면 가끔 이상해짐 */
    /* vertical-align: top; */
}

.content{
    width:70%;
    height: 400px;
    background-color: coral;
    float:left;
    /* display: inline-block; */
}

.footer{
    width:100%;
    height:60px;
    background-color: gray;
    clear:both; /*float 다음에 오는 요소에 주면 float로 발생하는 이상한 현상 해결 가능 */
    float: none;
}
/* 공백 : ~ 안에 있는 모든 자식
    > : ~ 안에 있는 직계 자식
*/
.navbar li{
    display: inline-block;
    width:70px;
    text-align: center;
    background-color: aquamarine;
    padding:10px;
}

.navbar a{
    font-size: 16px;
    text-decoration: none;
}

.navbar a:visited{
    color: black;
}

.main-background{
    width:100%;
    height: 600px;
    background-image: url("../res/img/background.jpg");
    /* 배경 짤려도 상관없으니까 */
    background-size: cover; 
    background-repeat:no-repeat;
    background-position: center;
    filter:brightness(80%) saturate(70%);
    /* margin collapse effect. 테두리가 안 붙게 하면 의도대로 동작함 */
    padding:20px; 
    position: relative;
}

.main-title{
    color:white;
    font-size: 40px;
    margin-top: 150px;
}

.main-content{
    color: white;
    font-size:30px;
    text-align: left;
}

.main-btn{
    width:150px;
    height:60px;
    padding:15px;
    font-size:15px;
    font-weight:bold;
    background-color: bisque;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    border: none;
    /* 내 원래 위치를 기준으로 이동해주세요. 기준점 잡는 속성임
    공중에 뜨게됨
    fixed는 현재 viewport 기준으로 이동함. 스크롤해도 계속 고정되는 버튼 등 만들때 사용
    absolute는 내 부모 태그가 기준. 부모태그중에 relative 가진 부모 기준
    부모태그에 relative주고, 자식태그에서 absolute를 주면 부모박스에 종속된 고정된 버튼 사용 가능
    absolute일 경우 가운데 정렬 , left:0, right:0, margin:auto */
    position: absolute;
    bottom : 180px;
    left : 0;
    right:0; 
}

.second-box{
    /*박스의 진짜 크기가 아니라 content 영역의 너비임*/
    width:80%;
    /* pc에서 너무 커질수 있어서 최대치를 정해줌 */
    max-width: 600px;
    height:200px;
    background-color: gray;
    position: relative;
    top : -100px;
    left : 0;
    right:0; 
    margin: auto;
    text-align: center;
    padding:30px;
}

.contact{
    padding:30px;
    width:40%;
    height:600px;
    background-color:antiquewhite;
    margin-left: auto;
    margin-right: auto;
}

.contact input[type=text]{
    width:90%;
}

.name-field div{
    float:left;
}
.name-field input{
    width:85%;
}


.form-background{
    background-color: black;
    padding: 30px;
    height:800px;
}

.form-white{
    background-color: white;
    padding: 30px;
    width: 80%;
    height:80%;
    max-width: 600px;
    margin: auto;
}

.form-input{
    width: 100%;
    padding: 0px;
    font-size:20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid burlywood;
    border-radius: 5px;
}

.w-100{
    padding: 10px;
}

.w-50{
    width:50%;
    float:left;
    padding:10px;
}

.w-30{
    width:30%;
    float:left;
    padding:10px;
}


.w-70{
    width:70%;
    float:left;
    padding:10px;
}

.send-section{
    clear:both; /*float 다음에 오는 요소에 주면 float로 발생하는 이상한 현상 해결 가능 */
    float: none;
    position: relative;
    margin-top: 30px;
}

.send-section input{
    position: absolute;
    left: 4px;
}

.send-section label{
    position: absolute;
    left: 30px;
}

.send-section button{
    position: absolute;
    right:35px;
    color:white;
    background-color:darkorange;
    border: none;
    font-size:20px;
    border-radius: 5px;
    width:100px;
    height: 30px;
}

.cart { 
    width:100%;
    height:800px;
    margin-left: auto;
    margin-right:auto;
    background-color:cornflowerblue;
    padding:30px;
}

.cart h1{
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

.cart-table{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    background-color:whitesmoke;
    color : cornflowerblue;
}

.cart-table tfoot td{
    text-align: right;
}

footer{
    margin-top: 30px;
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

.cart-btn{
    float:right;
    width:300px;
    height: 60px;
    font-size:20px;
    background-color:navy;
    color:white;
    border-radius: 5px;
    border:none;
    cursor:pointer;
}

.cart-btn:hover {
    background-color:aquamarine;
}
.cart-btn:focus{
    background-color: orange;
}
.cart-btn:active{
    background-color:blue;
}

.cart-link{
    font-size:15px;
    text-decoration: none;

}

.cart-link:link{
    color:black;
}

.cart-link:visited{
    color:black;
}


.flex-container{
    display: flex;
    justify-content: center;
    /* 모바일, pc 버전의 반응형 짤때 유용함 */
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: center;
}

.flex-item{
    width: 100px;
    height: 100px;
    background-color: antiquewhite;
    padding:10px;
}

/* Logo */
.flex-item:nth-child(1){
    flex-grow: 0.5;
    padding-left:30px;

}

.flex-item:nth-child(3), .flex-item:nth-child(4){
    flex-grow: 0.2;
    text-align: center;
}