.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-bg{
  height:300px;
  background-image: url('../public/img/background.jpg');
  background-size: cover;
  background-position: center;
}

.font-white {
  color:white;
}

/*
전환 애니메이션 만들기
1. 애니메이션 동작 전 class 만들기
2. 애니메이션 동작 후 스타일을 class 만들기
3. class에 transition 속성 추가
4. 원할 때 2번 추가 
*/

.start{
  opacity: 0;
}

.end{
  opacity: 1;
  transition : opacity 0.5s;
}